body{
   
    
}
.up{
    width: 100% !important;
    
}
.up input[type="submit"]{
    border:none;
    background-color: transparent;
    text-transform: uppercase;
    color: #444;
}

.up input[type="submit"]:hover{
    color: #fff;
}

.up > ul{
    margin: 0 !important;
    padding: 0 !important;
    display:flex !important;
    justify-content:center !important;
    font-size: 18px;
}

.up ul li{
    list-style: none !important;
    margin: 0 20px !important;
    transition: 0.3s !important;
}

.up ul li a{
    display: block !important;
    position: relative !important;
    text-decoration: none !important;
    padding:5px !important;
    font-family: sans-serif !important;
    color: #444 !important;
    text-transform: uppercase !important;
    transition: 0.3s !important;
    
}

.up ul:hover li a{
    transform: scale(1.2) !important;
    opacity: .2 !important;
    filter: blur(1px) !important;
    
}

.up ul li a:hover{
    transform: scale(1.2) !important;
    opacity: 1 !important;
    filter: blur(0) !important;
    color: #fff !important;
    
}

.up ul li a:before{
    content: '' !important;
    position: absolute !important;
    top:0 !important;
    left:0 !important;
    width: 100% !important;
    height: 100% !important;
    background-color: #ff0066 !important;
    transition: transform 0.3s !important;
    transform-origin: right !important;
    transform: scaleX(0) !important;
    z-index: -1 !important;
        
}

.up ul li a:hover:before{
    transition: transform 0.3s !important;
    transform-origin: right !important;
    transform: scaleX(1) !important;
    
}


